Django[argon2]==5.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-colorfield==0.11.0
django-cors-headers==4.3.1
drf-spectacular[sidecar]==0.27.1
gunicorn==21.2.0
psycopg[binary]==3.1.19
Pillow==10.1.0
python-dotenv==1.0.1
