body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-y:auto;
}

.main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative;
}

.main-container .image-container {
    flex: 1;
    height: 100%;
    position: relative;
}

.window_infopoint, .window_movepoint, .window_startposition {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.close_menu_form {
    display: block;
    width: 25px;
    height: 25px;
    --weight: 1px;
    --aa: 1px;
    --color: white;
    border-radius: 2px;
    background:
        linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
        linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.window_infopoint h1, .window_movepoint h1, .window_startposition h1 {
    margin-top: 15px;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.window_infopoint .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.window_infopoint .createinfobtn, .window_movepoint .createmovebtn, .window_startposition .createstartpositionbtn{
    width:100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position:relative;
    z-index:100;
}

.input-box input::placeholder {
    color: #fff;
}

.area-box > textarea {
    width: 100%;
    height: 230px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 35px;
    max-width: 100%;
}

.area-box > textarea::placeholder{
    color: #fff;
}

.area-box{
    resize: vertical;
}

.dropdown{
    min-width:15em;
    position:relative;
    margin:2em;
    margin-bottom:40px;
}

.dropdown *{
    box-sizing:border-box;
}

.select {
    background: #2a2f3b;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 2px #a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    box-shadow:0 0 0.8em 26489a;
}

.select:hover{
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    overflow-y: auto;
}

.menu::-webkit-scrollbar {
    width: 0.1em;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
}

.menu::-webkit-scrollbar-track {
    background: #323741;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

li.invisible {
    display: none;
}

.menu li:hover{
    background: #2a2d35;
}

.menu-open{
    display:block;
    opacity: 1;
    height: 10vh;
}

#addPointModeBtn1, #addPointModeBtn2, #addPointModeBtn3{
    font-size: 13px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #8E2DE2, #4A00E0);
    text-decoration: none;
    padding: 1px 11px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    position: absolute;
    width: 260px;
}

#addPointModeBtn1:hover, #addPointModeBtn2:hover, #addPointModeBtn3:hover{
    background-position: right;
}

#addPointModeBtn1.hidden, #addPointModeBtn2.hidden, #addPointModeBtn3.hidden {
    display: none;
}

#addPointModeBtn1{
    bottom: 10px;
    right: 100px;
}

#addPointModeBtn2{
    bottom: 10px;
    right: 370px;
}

#addPointModeBtn3{
    bottom: 10px;
    right: 640px;
}

#exitUser {
    top: 100px;
    position:absolute;
    left: 1vh;
    top: 6vh;
}

.userForm{
    position:absolute;
}

.userFrom a{
    top: 5vh;
    left: 1vh;
}

.label_username{
    left: 1vh;
    top: 1vh;
    font-size: 13px;
    font-family: monospace;
    position:absolute;
    color: #fff;
}

.navbar {
    position: absolute;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.navbar * {
    pointer-events: all;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.navbar .nav-links  ul{
    display: flex;
    overflow:hidden;
    overflow-y:scroll;
    height:80vh;
}

::-webkit-scrollbar {
    width: 0.1em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.navbar .nav-links  ul li{
    margin: 0 25px;
}

@media screen and (max-width: 900px) {
    .main-container {
        width:100vw;
    }
    .navbar{
        padding: 0;
        height: 100%;
    }
    .nav-links{
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        margin-left: -100%;
        transition: all 0.2s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links  ul li{
        margin: 25px 0;
        font-size: 1.2em;
        list-style-type: none;
    }
    .navbar .nav-links  ul li a{
        font-size: 30px;
    }
    .navbar .nav-links  ul li a:active{
        font-size: 30px;
        color: #4146DB;
    }
    .navbar .menu-hamburger{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        top: 30px;
        right: 30px;
        width: 60px;
        height: 45px;
    }
    .navbar .menu-hamburger span{
        height: 5px;
        width: 100%;
        transform: scale(1);
        background-color: #4146DB;
        border-radius: 4px;

    }
    .navbar .menu-hamburger::before , .menu-hamburger::after{
        content: '';
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: #4146DB;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }
    .navbar .menu-hamburger::before{
        top: 0;
    }
    .navbar .menu-hamburger::after{
        bottom: 0;
    }
    .navbar .menu-hamburger.active span{
        transform: scale(0);
    }
    .navbar .menu-hamburger.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .navbar .menu-hamburger.active::after{
        top: 42.5%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

@media screen and (min-width: 900px) {
    .navbar{
        padding: 0;
        height: 100%;
    }
    .nav-links{
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        margin-left: -100%;
        transition: all 0.4s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links  ul li{
        margin: 50px 0;
        font-size: 1.2em;
        list-style-type: none;
    }
    .navbar .nav-links  ul li a{
        font-size: 65px;
    }
    .navbar .nav-links  ul li a:active{
        font-size: 65px;
        color: #4146DB;
    }
    .navbar .menu-hamburger{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        top: 60px;
        right: 90px;
        width: 60px;
        height: 45px;
    }
    .navbar .menu-hamburger span{
        height: 5px;
        width: 100%;
        transform: scale(1);
        background-color: #4146DB;
        border-radius: 4px;

    }
    .navbar .menu-hamburger::before , .menu-hamburger::after{
        content: '';
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: #4146DB;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }
    .navbar .menu-hamburger::before{
        top: 0;
    }
    .navbar .menu-hamburger::after{
        bottom: 0;
    }
    .navbar .menu-hamburger.active span{
        transform: scale(0);
    }
    .navbar .menu-hamburger.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .navbar .menu-hamburger.active::after{
        top: 42.5%;
        transform: rotate(45deg) translate(0, 50%);
    }
}
