body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-y:auto;
}

.main-container {
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative;
}

.main-container .image-container {
    flex: 1;
    height: 100%;
    position: relative;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#23252B;
    box-shadow:0 5px 25px rgb(0 0 0/ 20%);
    padding: 0 10px 0 100px;
    transition: 0.6s;
}

header .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation{
    position: relative;
    line-height: 75px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navigation .menu-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style:none;
    user-select: none;
    min-width: 400px;
    margin: auto;
}

header .navigation .auth-container{
    position: relative;
    display: flex;
    justify-content: center;
    list-style:none;
    user-select: none;
    margin-right: 10px;
}

header .menu-hamburger{
    display:none;
}

.menu-item > a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}

.menu-item > a:hover{
    color: #808080;
    transition: 0.3s;
}

.menu-item .sub-menu{
    position: absolute;
    max-height:20vh;
    overflow-y:auto;
    background:#23252B;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius:0 0 8px 8px;
    box-shadow:0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
    width: max-content;
    padding:0;
}

.menu-item .sub-menu::-webkit-scrollbar {
    width: 5px;
}

.menu-item .sub-menu::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
    border-radius:3px;
}

.menu-item .sub-menu::-webkit-scrollbar-track {
    background: #303237;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover{
    background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

.auth-container .form-entranse{
    margin: auto;
}

.window_infopoint, .window_movepoint {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.close_menu_form {
    display: block;
    width: 25px;
    height: 25px;
    --weight: 1px;
    --aa: 1px;
    --color: white;
    border-radius: 2px;
    background:
        linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
        linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.window_infopoint h1, .window_movepoint h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.window_infopoint .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.window_infopoint .createinfobtn, .window_movepoint .createmovebtn {
    width:100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position:relative;
    z-index:100;
}

.input-box input::placeholder {
    color: #fff;
}

.area-box > textarea {
    width: 100%;
    height: 230px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 35px;
    max-width: 100%;
}

.area-box > textarea::placeholder{
    color: #fff;
}

.area-box{
    resize: vertical;
}

.dropdown{
    min-width:15em;
    position:relative;
    margin:2em;
    margin-bottom:40px;
}

.dropdown *{
    box-sizing:border-box;
}

.select {
    background: #23252B;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 2px #a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    box-shadow:0 0 0.8em 26489a;
}

.select:hover{
    background: #23252B;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #23252B;
    border: 1px #23252B solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    overflow-y: auto;
}

.menu::-webkit-scrollbar {
    width: 0.1em;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
}

.menu::-webkit-scrollbar-track {
    background: #323741;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

li.invisible {
    display: none;
}

.menu li:hover{
    background: #23252B;
}

.menu-open{
    display:block;
    opacity: 1;
    height: 10vh;
}

#addPointModeBtn1, #addPointModeBtn2{
    font-size: 13px;
    font-family: monospace;
    color: #fff;
    background:#23252B;
    text-decoration: none;
    padding: 1px 11px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
    position: absolute;
    width: 260px;
}

#addPointModeBtn1:hover, #addPointModeBtn2:hover{
    background-position: right;
}

#addPointModeBtn1.hidden, #addPointModeBtn2.hidden {
    display: none;
}

#addPointModeBtn1{
    bottom: 10px;
    right: 100px;
}

#addPointModeBtn2{
    bottom: 10px;
    right: 370px;
}

@media (max-width: 900px) {
    header {
        padding: 0 10px 0 20px;
        position: fixed;
        height: 70px;
    }

    header .navigation{
        background:#23252B;
        position:absolute;
        top:0px;
        right:0px;
        display:block;
        height:100vh;
        justify-content:center;
        right:-100%;
    }

    header .navigation.active{
        right:0;
    }

    header .navigation .menu-header{
        display:block;
        padding-left:0px;
        top:10vh;
    }

    header .navigation .menu-header .menu-item{
        position:relative;
        width:100vw;
    }

    .menu-item .sub-menu{
        position:relative;
        opacity:1;
        top:-1vh;
        margin:auto;
        background:#303237;
        border-radius:5px;
        display:none;
        width:90vw;
    }

    .menu-item .sub-menu .sub-item a{
        position:relative;
        display: inline-block;
        width:100%;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        padding: 0px 10px;
        word-wrap: break-word;
    }

    .menu-item .sub-menu .sub-item a text{
        width:100%;
    }

    .menu-item .sub-menu .sub-item{
        position: relative;
        padding: 7px 0;
        cursor: pointer;
        box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    }

    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover{
        color: #808080;
        transition: 0.3s;
    }

    header .navigation .auth-container{
        position:relative;
        display:block;
        margin-right:0px;
        top:10vh;
    }

    .form-entranse{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item > a{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:0;
        font-size:22px;
    }

    header .menu-hamburger{
        z-index:10001;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        top: 20px;
        right: 10px;
        width: 50px;
        height: 35px;
    }

    header .menu-hamburger span{
        height: 4px;
        width: 100%;
        transform: scale(1);
        background-color: #fff;
        border-radius: 4px;
    }

    header .menu-hamburger::before , .menu-hamburger::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #fff;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }

    header .menu-hamburger::before{
        top: 0;
    }

    header .menu-hamburger::after{
        bottom: 0;
    }

    header .menu-hamburger.active span{
        transform: scale(0);
    }

    header .menu-hamburger.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    header .menu-hamburger.active::after{
        top: 42.5%;
        transform: rotate(45deg) translate(0, 50%);
    }
}
