<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-1 mt-md-4 pb-5">

                  <h2 class="fw-bold mb-3 text-uppercase">Регистрация</h2>
                  <p class="text-white-50 mb-3">Пожалуйста, заполните все необходимые поля!</p>
                  <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    <div class="form-outline form-white mb-3">
                      <input type="text" name="username" autocomplete="username" maxlength="150" id="id_username" class="form-control form-control-lg mb-2" />
                      <label class="form-label" for="typeEmailX">Имя пользователя</label>
                    </div>

                    <div class="form-outline mb-3">
                      <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="form-control form-control-lg mb-2" />
                      <label class="form-label" for="form3Example3cg">Электронная почта</label>
                    </div>

                    <div class="form-outline mb-3">
                      <input type="password" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1"
                             class="form-control form-control-lg mb-2" />
                      <label class="form-label" for="form3Example4cg">Пароль</label>
                    </div>

                    <div class="form-outline mb-5">
                      <input type="password" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2"
                             class="form-control form-control-lg mb-2" />
                      <label class="form-label" for="form3Example4cdg">Повторите ваш пароль</label>
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Регистрация</button>
                  </form>

                </div>

                <div>
                  <p class="mb-0">У вас уже есть аккаунт? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Войти</a>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
<style>
.gradient-custom {
background: #6a11cb;

background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>



