{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'guidein_space/registration/register.css' %}">
  <link href='{% static 'guidein_space/vendor/boxicons/boxicons.min.css' %}' rel='stylesheet'>
</head>
<body>
  <div class="main-container">
    <div class="image-container">
    </div>
    <div class="wrapper">
      <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        <h1>Регистрация</h1>
        <div class="input-box">
          <input type="text" name="username" placeholder="Имя пользователя" maxlength="254" id="id_username" required>
          <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
          <input type="email" name="email" placeholder="Электронная почта" maxlength="254" id="id_email" required>
          <i class='bx bx-envelope'></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Пароль" name="password1" autocomplete="new-password" id="id_password1" required>
          <i class='bx bxs-lock-alt' ></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Повторите пароль" name="password2" autocomplete="new-password" id="id_password2" required>
          <i class='bx bx-check-shield' ></i>
        </div>
        <button type="submit" class="btn">Регистрация</button>
        <div class="register-link">
          <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a> </p>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'guidein_space/vendor/three.min.js' %}"></script>
  <script src="{% static 'guidein_space/vendor/panolens.min.js' %}"></script>
  <script src="{% static 'guidein_space/registration/auth.js' %}"></script>
</body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&display=swap')
</style>
