@import 'https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.css';
@import 'https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/markers-plugin@5/index.css';

body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    font-family: Roboto, system-ui;
}

.menu-header .menu-item {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}

form {
    font-size: 18px;
    text-decoration: none;
    margin: 0;
}

.menu-item > button {
    color: #fff;
    background: 0;
    border: 0;
    padding: 27px;
    font-size: 18px;
    margin-top: 0.3px;
}

.menu-item > button:hover {
    color: #808080;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.main-container .image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    position: relative;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    background: #172338;
    height: 70px;
    justify-content: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0 10px 0 6vw;
    height: 100%;
}

header .navigation {
    position: relative;
    line-height: 75px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

header .navigation .menu-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    min-width: 28vw;
    margin: auto;
    gap: 5vw;
}

header .navigation .auth-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-right: 10px;
}

header .menu-hamburger {
    display: none;
}

.menu-item > a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}

.menu-item > a:hover {
    color: #808080;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu-item .sub-menu {
    position: absolute;
    max-height: 50vh;
    overflow-y: auto;
    background: #172338;
    top: 70px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 18vw;
    padding: 0;
}

.menu-item .sub-menu::-webkit-scrollbar {
    width: 5px;
}

.menu-item .sub-menu::-webkit-scrollbar-thumb {
    background-color: #2d456e;
    border-radius: 3px;
}

.menu-item .sub-menu::-webkit-scrollbar-track {
    background: #172338;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.menu-item .sub-menu .sub-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
            box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline;
    padding: 14px;
    width: 100%;
    height: 100%;
}

.menu-item .sub-menu .sub-item:hover {
    background: #161736;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

.auth-container .form-entranse {
    margin: auto;
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #23252B;
    border: 1px #23252B solid;
    -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 32px;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    display: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    z-index: 1;
    overflow-y: auto;
}

.menu::-webkit-scrollbar {
    width: 0.1em;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
}

.menu::-webkit-scrollbar-track {
    background: #323741;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

li.invisible {
    display: none;
}

.menu li:hover {
    background: #23252B;
}

.menu-open {
    display: block;
    opacity: 1;
    max-height: 100px;
}

.image-container .admin-panel .buttons-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: absolute;
    width: 90px;
    height: 650px;
    z-index: 999;
    top: 24vh;
    right: 11px;
    -webkit-backdrop-filter: blur(48px);
            backdrop-filter: blur(48px);
}

.buttons-panel .button-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0px 15px 0px;
    margin: 17px 0 17px 0;
    max-height: 78px;
}

.buttons-panel .button-item.ActiveItem {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 40px;
    width: 78px;
    height: 78px;
}

.admin-panel .admin-add-point {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    position: absolute;
    width: 600px;
    height: 650px;
    z-index: 998;
    top: 24vh;
    right: 11px;
    -webkit-backdrop-filter: blur(48px);
            backdrop-filter: blur(48px);
}

.admin-panel.open .admin-add-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.admin-panel.open .buttons-panel {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
}

/*   формы   */
.admin-add-point .form-info-point, .form-image-point, .form-move-point, .form-video-point, .form-polygone-point, .form-polyline-point {
    display: none;
    position: relative;
    left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 15px 0;
    min-height: 637px;
    min-width: 480px;
}

/* Общие элементы */
.admin-add-point h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    height: 96px;
    width: 336px;
    margin: 0 0 30px 0;
    font-weight: 600;
}

.admin-add-point .submit-info-btn, .submit-move-btn, .submit-image-btn, .submit-video-btn, .submit-polygon-btn, .submit-polyline-btn {
    width: 310;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/*   Элементы формы перемещения */
.dropdown {
    min-width: 15em;
    position: relative;
    margin: 50px 0 95px 0;
}

.dropdown * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.select {
    background: #23252B;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    width: 330px;
    height: 56px;
}

.select-clicked {
    -webkit-box-shadow: 0 0 0.8em 26489a;
            box-shadow: 0 0 0.8em 26489a;
}

.select:hover {
    background: #23252B;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.caret-rotate {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

/*   Элементы формы информации */
.form-info-point .input-box {
    width: 380px;
    position: relative;
    height: 50px;
    margin: 20px 0 30px 0;
}

#title-input-info {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position: relative;
    z-index: 100;
}

.input-box input::-webkit-input-placeholder {
    color: #fff;
}

.input-box input::-moz-placeholder {
    color: #fff;
}

.input-box input:-ms-input-placeholder {
    color: #fff;
}

.input-box input::-ms-input-placeholder {
    color: #fff;
}

.input-box input::placeholder {
    color: #fff;
}

#description-input-info {
    width: 380px;
    height: 250px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    max-width: 380px;
    max-height: 250px;
    min-height: 250px;
}

.area-box > textarea::-webkit-input-placeholder {
    color: #fff;
}

.area-box > textarea::-moz-placeholder {
    color: #fff;
}

.area-box > textarea:-ms-input-placeholder {
    color: #fff;
}

.area-box > textarea::-ms-input-placeholder {
    color: #fff;
}

.area-box > textarea::placeholder {
    color: #fff;
}

.area-box {
    resize: vertical;
}

/*    Элементы формы изображения и видео */
#drop-area-image, #drop-area-video {
    width: 433px;
    height: 245px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    max-width: 480px;
    max-height: 263px;
}

#drop-area-image {
    margin: 30px 0 60px 0;
}

#drop-area-video {
    margin-bottom: 15px;
}

#image-view, #video-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #EBEBEB;
    background-position: center;
    background-size: cover;
}

#image-view img, #video-view img {
    width: 55px;
    margin-top: 60px;
}

#image-view p, #video-view p {
    color: #fff;
}

#video-view video {
    border-radius: 20px;
}

.form-video-point .chromakey-input, .chromakey-switch {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 15px 0;
    width: 260px;
}

.chromakey-input .chromakey-eyedrop {
    height: 60px;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 30px;
    border-radius: 30px;
}

.chromakey-input p, .chromakey-switch p {
    color: #E6E6E7;
    font-size: 15px;
    margin: 0;
    width: 110px;
}

.chromakey-switch .button {
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    width: 56px;
    height: 30px;
    border-radius: 140px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    right: 34px;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #EBEBEB;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    margin: 3px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .button {
    background:-o-linear-gradient(355deg,
              hsl(286, 97%, 57%) -7%,
              hsl(256, 84%, 48%) 112%);
    background:linear-gradient(95deg,
              hsl(286, 97%, 57%) -7%,
              hsl(256, 84%, 48%) 112%);
}

input:checked + .button::before {
    -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
            transform: translateX(28px);
}

.chromakey-switch input {
    display: none;
}

#result {
    padding: 0.2rem 1rem;
    margin: 0 1rem;
    font-size: 1rem;
    border-left: 1rem solid transparent;
    border-left-color: transparent;
}

/*    Элементы формы полигона     */
.fill-polygone .pickr .pcr-button, .stroke-polygone .pickr .pcr-button, .stroke-polyline .pickr .pcr-button {
    height: 25px;
    width: 50px;
    margin: 0 30px 0 13px
}

.fill-polygone, .stroke-polygone, .stroke-polyline {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 30px 0;
}

.fill-polygone p, .stroke-polygone p, .stroke-polyline p {
    color: #E6E6E7;
    font-size: 15px;
    margin: 0;
    width: 119px;
    max-width: 199px;
}

:root {
    --gradient-color: linear-gradient(95deg,
                  hsl(286, 97%, 57%) -7%,
                  hsl(256, 84%, 48%) 112%);
    --first-color-light: hsl(256, 64%, 88%);
    --first-color-lighten: hsl(256, 58%, 94%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(256, 100%, 98%);
}

.range {
    height: 25px;
    width: 180px;
    max-width: 180px;
    border-radius: 2rem;
    -webkit-box-shadow: 0 6px 16px hsla(256, 72%, 24%, .15);
            box-shadow: 0 6px 16px hsla(256, 72%, 24%, .15);
    padding-inline: 1rem;
    display: -ms-grid;
    display: grid;
    margin: 0 0 0 13px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
}

.range-content {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.range-slider {
    width: 100%;
    height: 10px;
    background-color: #EBEBEB;
    border-radius: 4rem;
    -webkit-box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
            box-shadow: 0 4px 12px hsla(256, 72%, 24%, .2);
    overflow: hidden;
}

.range-slider-line {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    width: 0;
}

.range-thumb {
    width: 16px;
    height: 16px;
    background-color: #EBEBEB;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
            box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
    position: absolute;
}

.range-value {
    width: 30px;
    height: 30px;
    background: var(--gradient-color);
    position: absolute;
    top: -36px;
    left: -8px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.range-value-number {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    color: var(--white-color);
    font-size: var(--h1-font-size);
}

.range-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 16px;
    position: absolute;
    opacity: 0;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 32px;
    height: 32px;
}

.range-input::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.form-polygone-point .input-box, .form-polyline-point .input-box {
    width: 480px;
    position: relative;
    height: 50px;
    margin: 0 0 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    position: relative;
    z-index: 100;
}

.input-box input::-webkit-input-placeholder {
    color: #fff;
}

.input-box input::-moz-placeholder {
    color: #fff;
}

.input-box input:-ms-input-placeholder {
    color: #fff;
}

.input-box input::-ms-input-placeholder {
    color: #fff;
}

.input-box input::placeholder {
    color: #fff;
}

.area-box > textarea {
    width: 480px;
    height: 150px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    max-width: 480px;
    max-height: 150px;
}

.area-box > textarea::-webkit-input-placeholder {
    color: #fff;
}

.area-box > textarea::-moz-placeholder {
    color: #fff;
}

.area-box > textarea:-ms-input-placeholder {
    color: #fff;
}

.area-box > textarea::-ms-input-placeholder {
    color: #fff;
}

.area-box > textarea::placeholder {
    color: #fff;
}

.area-box {
    resize: vertical;
}

/*      Элементы мобильной версии */
@media (max-width: 1000px) {

    header {
        position: fixed;
        height: 70px;
    }

    header .logo {
        padding: 0px;
        position: fixed;
        left: 6vw;
        height: auto;
        top: 8px;
    }

    header .navigation{
        background: #172338;
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        height: 100vh;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        right: -100%;
    }

    header .navigation.active {
        right: 0;
    }

    header .navigation .menu-header {
        display: block;
        padding-left: 0px;
        top: 10vh;
    }

    header .navigation .menu-header .menu-item {
        position: relative;
        width: 100vw;
        height: auto;
    }

    .menu-item .sub-menu {
        position: relative;
        opacity: 1;
        top: -1vh;
        margin: auto;
        border-radius: 5px;
        display: none;
        width: 90vw;
        max-height: 35vh;
        background: #1d1e33;
    }

    .menu-item .sub-menu .sub-item a {
        position: relative;
        display: inline-block;
        width: 100%;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        padding: 0px 10px;
        word-wrap: break-word;
    }

    .menu-item .sub-menu .sub-item a text {
        width: 100%;
    }

    .menu-item .sub-menu .sub-item {
        position: relative;
        padding: 7px 0;
        cursor: pointer;
        -webkit-box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
                box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    header .navigation .auth-container {
        position: relative;
        display: block;
        margin-right: 0px;
        top: 10vh;
    }

    .form-entranse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .menu-item > a, form.menu-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 22px;
    }

    .menu-item > button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 22px;
        padding: 25px;
    }

    .image-container .admin-panel {
        display: none;
    }

    header .menu-hamburger {
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 50px;
        height: 35px;
        right: 6vw;
    }

    header .menu-hamburger span {
        height: 4px;
        width: 100%;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        background-color: #fff;
        border-radius: 4px;
    }

    header .menu-hamburger::before , .menu-hamburger::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: #fff;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        border-radius: 4px;
    }

    header .menu-hamburger::before {
        top: 0;
    }

    header .menu-hamburger::after {
        bottom: 0;
    }

    header .menu-hamburger.active span {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
    }

    header .menu-hamburger.active::before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
            -ms-transform: rotate(-45deg) translate(0, -50%);
                transform: rotate(-45deg) translate(0, -50%);
    }

    header .menu-hamburger.active::after {
        top: 42.5%;
        -webkit-transform: rotate(45deg) translate(0, 50%);
            -ms-transform: rotate(45deg) translate(0, 50%);
                transform: rotate(45deg) translate(0, 50%);
    }
}

@media only screen and (max-device-width: 1000px) and (orientation: landscape) {

    header .navigation .auth-container {
        display: none;
    }

    .menu-item .sub-menu {
        max-height: 30vh;
    }

    header .navigation .menu-header {
        top: 6vh;
    }
}
